footer{
    background-color: $bgFooter;
    .container-footer{
        display: block;
        justify-content: center;
        width: fit-content;
        margin: 0px auto;
        padding: 45px 0px;
        
        &-img{
            display: block;
            width: fit-content;
            margin: 0px auto;
        }
    
        &-rights{
            color: white;
            margin: 40px auto;
        }
    
    
    } 
}


