.container-location{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 25px;
    gap: 25px;
    background-color: hsba(0, 0%, 97%, 1);
    &-article{
        height: 340px;
        width: 340px;
        background-color: $colorKasa;
        border-radius: 5px;
        margin: 25px auto;
        &-title{
            color: white;
            position: relative;
            top: 250px;
            left: 10px;
            width: 100px;
        }
    }
}

