.container-error404{
    h1{
        font-size: 288px;
        color: $colorKasa;
        margin: 25px auto;
        width: fit-content;
        font-family: 'Montserrat';
        font-style: normal;
        @media screen and (max-width: 767px) {

            font-size: 96px;
            margin: 200px auto 50px auto;

        }
        
    }
    .message-error{
        color: $colorKasa;
        font-size: 35px;
        width: fit-content;
        margin: auto;
        font-family: 'Montserrat';
        font-style: normal;
        @media screen and (max-width: 767px) {
            font-size: 18px;
            margin: auto;
            width: 70%;
            display: flex;
            align-items: flex-end;
            text-align: center;

        }
    }
    .button-back-home{
        font-family: 'Montserrat';
        font-style: normal;
        color: $colorKasa;
        font-size: 35px;
        width: fit-content;
        margin: 150px auto 50px auto;
        text-decoration: underline;
        @media screen and (max-width: 767px) {
            font-size: 14px;

        }
    }
}