header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 1280px;
    @media screen and (max-width: 767px) {
        margin: 20px 10px;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .menuImg{
            @media screen and (max-width: 767px) {
                height: 47px;
                width: 145px;
            }
        }
        .menuHeader{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
            width: max-content;
            a{
                cursor: pointer;
            }
            li{
                color: $colorKasa; 
                list-style-type: none;
                @media screen and (max-width: 767px) {
                    text-transform: uppercase;
                }
            }
            
          }
    }
}
