header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0px;
    @media screen and (max-width: 767px) {
        height: 47px;
        width: 145px;
    }
}
.menuHeader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    max-width: max-content;
    a{
        cursor: pointer;
    }
    li{
        color: $colorKasa; 
        list-style-type: none;
    }
    
  }