.container-about{
    &-bgAbout{
        border-radius: 5px;
        img{
            border-radius: inherit;
            width: -webkit-fill-available;
        }
    }
    
    &-list{
        list-style-type: none;
        display: block;
        padding: 0px;
        margin: 0px;
        &-content{
            &-title{
                display: flex;
                height: 50px;
                background-color: $colorKasa;
                color: white;
                border-radius: 10px;
                justify-content: space-between;
                margin: auto 10px; 
                h2{
                    display: block;
                    margin: 15px;
                    font-size: 15px;
                } 
                img{
                    margin: 15px;
                }
            }
            &-text{
                display: flex;
                background-color: hsba(0, 0%, 97%, 1);
                p{
                    color:$colorKasa;
                    margin: 15px;
                }
            }
        }
    }
}
