body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

h2, h3, h4 {
  margin: 0px;
}

p {
  margin: 0px;
}

.container-error404 h1 {
  font-size: 288px;
  color: #FF6060;
  margin: 25px auto;
  width: fit-content;
}
.container-error404 .message-error {
  color: #FF6060;
  font-size: 35px;
  width: fit-content;
  margin: auto;
}
.container-error404 .button-back-home {
  color: #FF6060;
  font-size: 35px;
  width: fit-content;
  margin: 150px auto 50px auto;
}

footer {
  background-color: black;
}
footer .container {
  max-width: 1280px;
  margin: auto;
}
footer .container .container-footer {
  display: block;
  justify-content: center;
  width: fit-content;
  margin: 0px auto;
  padding: 45px 0px;
}
footer .container .container-footer-img {
  display: block;
  width: fit-content;
  margin: 0px auto;
}
@media screen and (max-width: 767px) {
  footer .container .container-footer-img {
    width: 122px;
  }
}
footer .container .container-footer-rights {
  color: white;
  margin: 40px auto;
}
@media screen and (max-width: 767px) {
  footer .container .container-footer-rights {
    font-size: 12px;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px auto;
  max-width: 1280px;
}
@media screen and (max-width: 767px) {
  header {
    margin: 20px 10px;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 767px) {
  header nav .menuImg {
    height: 47px;
    width: 145px;
  }
}
header nav .menuHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  width: max-content;
}
header nav .menuHeader a {
  cursor: pointer;
}
header nav .menuHeader li {
  color: #FF6060;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  header nav .menuHeader li {
    text-transform: uppercase;
  }
}

.content-infoLogement {
  margin: 30px auto;
  max-width: 1280px;
}
.content-infoLogement .container-infoLogement {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-infoLogement {
    flex-direction: column;
  }
}
.content-infoLogement .container-infoLogement-presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-infoLogement .container-infoLogement-presentation-title {
  color: #FF6060;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-infoLogement-presentation-title {
    font-size: 18px;
  }
}
.content-infoLogement .container-infoLogement-presentation-city {
  color: #FF6060;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-infoLogement-presentation-city {
    font-size: 14px;
  }
}
.content-infoLogement .container-infoLogement-presentation-tag {
  display: flex;
  margin-top: 10px;
}
.content-infoLogement .container-infoLogement-presentation-tag span:first-child {
  margin-left: 0px;
}
.content-infoLogement .container-infoLogement-presentation-tag span {
  display: block;
  margin: auto 5px;
  color: white;
  background-color: #FF6060;
  height: 30px;
  min-width: 100px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-infoLogement-presentation-tag span {
    width: 84px;
    height: fit-content;
  }
}
.content-infoLogement .container-infoLogement-presentation-tag span p {
  display: block;
  text-align: center;
  margin: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.6%;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-infoLogement-presentation-tag span p {
    font-size: 10px;
  }
}
.content-infoLogement .container-infoLogement-host {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-infoLogement-host {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.content-infoLogement .container-infoLogement-host-profile {
  display: flex;
  flex-direction: row;
}
.content-infoLogement .container-infoLogement-host-profile-name {
  margin: auto 10px;
}
.content-infoLogement .container-infoLogement-host-profile-name p {
  color: #FF6060;
  width: 90px;
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-infoLogement-host-profile-name p {
    font-size: 12px;
  }
}
.content-infoLogement .container-infoLogement-host-profile-img {
  display: flex;
  height: 64px;
  width: 64px;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-infoLogement-host-profile-img {
    height: 32px;
    width: 32px;
  }
}
.content-infoLogement .container-infoLogement-host-profile-img img {
  object-fit: contain;
  border-radius: 75px;
  height: 100%;
  width: 100%;
}
.content-infoLogement .container-infoLogement-host-star {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.content-infoLogement .container-infoLogement-host-star-img {
  color: #FF6060;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-infoLogement-host-star-img {
    height: 15px;
    width: 15px;
  }
}
.content-infoLogement .container-dropDown-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  grid-column-gap: 50px;
  padding: 0px;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-dropDown-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-dropDown-list {
    grid-row-gap: 25px;
  }
}
.content-infoLogement .container-dropDown-list-content {
  list-style-type: none;
}
.content-infoLogement .container-dropDown-list-content-title {
  display: flex;
  height: 50px;
  background-color: #FF6060;
  color: white;
  border-radius: 10px;
  justify-content: space-between;
  margin: auto 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-dropDown-list-content-title {
    height: 30px;
  }
}
.content-infoLogement .container-dropDown-list-content-title h4 {
  display: block;
  margin: 15px;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-dropDown-list-content-title h4 {
    margin: auto 15px;
    font-size: 13px;
  }
}
.content-infoLogement .container-dropDown-list-content-title img {
  margin: 15px;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-dropDown-list-content-title img {
    margin: auto 10px;
    height: 10px;
  }
}
.content-infoLogement .container-dropDown-list-content-text {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  border-radius: 10px;
  margin: -15px 0px;
  position: relative;
  z-index: -1;
}
.content-infoLogement .container-dropDown-list-content-text .description-text {
  color: #FF6060;
  margin: 5px 25px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .content-infoLogement .container-dropDown-list-content-text .description-text {
    font-size: 12px;
  }
}
.content-infoLogement .container-dropDown-list-content-text .description-text:first-child {
  margin-top: 30px;
}
.content-infoLogement .container-dropDown-list-content-text .description-text:last-child {
  margin-bottom: 15px;
}
.content-infoLogement .container-dropDown-list-content-text .equipement-text {
  color: #FF6060;
  margin: 5px 25px;
}
.content-infoLogement .container-dropDown-list-content-text .equipement-text:first-child {
  margin-top: 30px;
}
.content-infoLogement .container-dropDown-list-content-text .equipement-text:last-child {
  margin-bottom: 15px;
}

.container-location {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 25px;
  gap: 25px;
}
@media screen and (max-width: 767px) {
  .container-location {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 10px auto;
    gap: 0px;
  }
}
.container-location-link {
  display: flex;
  height: 340px;
  width: 340px;
  background-color: #FF6060;
  border-radius: 10px;
  margin: 25px auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  .container-location-link {
    height: 255px;
    width: 335px;
    margin: 15px auto;
  }
}
.container-location-link-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.container-location-link-gradient {
  border-radius: 5px;
  height: 340px;
  width: 340px;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
@media screen and (max-width: 767px) {
  .container-location-link-gradient {
    height: 255px;
    width: 335px;
  }
}
.container-location-link-title {
  z-index: 10;
  color: white;
  position: absolute;
  width: 300px;
  bottom: 20px;
  left: 20px;
}

.caroussel {
  max-width: 1200px;
  height: 415px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .caroussel {
    min-width: 335px;
    height: 255px;
  }
}

.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;
  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  object-fit: cover;
}

.caroussel-content-numberPicture {
  display: block;
  position: absolute;
  color: white;
  width: 100%;
  transform: translate(50%, -40px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .left-arrow img, .right-arrow img {
    height: 20px;
  }
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

.container-about {
  margin: auto;
  max-width: 1280px;
}
.container-about-bgAbout {
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .container-about-bgAbout {
    border-radius: 10px;
    height: 223px;
    margin: auto 10px;
  }
}
.container-about-bgAbout img {
  border-radius: inherit;
  width: -webkit-fill-available;
  height: 100%;
  object-fit: cover;
}
.container-about-list {
  list-style-type: none;
  display: block;
  padding: 0px;
  margin: 0px;
}
.container-about-list .container-dropDown-list-content {
  margin: 30px 0px;
}
@media screen and (max-width: 767px) {
  .container-about-list .container-dropDown-list-content {
    margin: 20px 0px;
  }
}
.container-about-list .container-dropDown-list-content-title {
  display: flex;
  height: 50px;
  background-color: #FF6060;
  color: white;
  border-radius: 10px;
  justify-content: space-between;
  margin: auto 50px;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 767px) {
  .container-about-list .container-dropDown-list-content-title {
    height: 30px;
    margin: auto 10px;
  }
}
.container-about-list .container-dropDown-list-content-title h4 {
  display: block;
  margin: auto 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
}
@media screen and (max-width: 767px) {
  .container-about-list .container-dropDown-list-content-title h4 {
    font-size: 13px;
  }
}
.container-about-list .container-dropDown-list-content-title img {
  margin: auto 10px;
  height: 10px;
}
.container-about-list .container-dropDown-list-content-text {
  display: flex;
  background-color: #f7f7f7;
  border-radius: 0px 0px 5px 5px;
  margin: -10px 50px 15px 50px;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .container-about-list .container-dropDown-list-content-text {
    margin: -10px 15px 15px 15px;
  }
}
.container-about-list .container-dropDown-list-content-text p {
  color: #FF6060;
  margin: 15px 5px 10px 5px;
  z-index: 1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142.6%;
}
@media screen and (max-width: 767px) {
  .container-about-list .container-dropDown-list-content-text p {
    font-size: 12px;
  }
}

.container-ficheLogement .bgFicheLogement {
  border-radius: 5px;
}
.container-ficheLogement .bgFicheLogement img {
  border-radius: inherit;
  width: -webkit-fill-available;
}

.container-home {
  max-width: 1280px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .container-home {
    margin: 20px 10px;
  }
}
.container-home-bannerHome {
  border-radius: 25px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .container-home-bannerHome {
    border-radius: 10px;
    height: 110px;
  }
}
.container-home-bannerHome img {
  border-radius: inherit;
  width: -webkit-fill-available;
}
@media screen and (max-width: 767px) {
  .container-home-bannerHome img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.container-home-bannerHome-bg {
  background-color: black;
  mix-blend-mode: darken;
  opacity: 0.3;
  border-radius: 25px;
  height: 98%;
  width: 100%;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 767px) {
  .container-home-bannerHome-bg {
    border-radius: 10px;
  }
}
.container-home-bannerHome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .container-home-bannerHome-text {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
